.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build
_build
.git
.gitignore
.DS_Store
latest.dump
node_modules
dist
amocrm_docs_md/.vuepress/dist
amocrm_docs_md/.vuepress/.cache
env
venv
.venv
*.log
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.idea
**/.vscode


